<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.misterm.sharebye">
    <!-- For Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- For Wifi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- For Storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" /> <!-- for foreground service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- for camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.ShareBye">
        <activity
            android:name=".TransferActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FileListActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QrgActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CheckedActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Services.FTPService"
            android:exported="false" />
    </application>

</manifest>